.film {
  width: 15vw;
}


  .debuts {
    background-image: 'assets/popcorn.png';
    background-repeat: no-repeat;
    background-size: cover;
  }


  .App {
    height: 670px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(9, 5, 47, .85) 0%, rgba(49, 29, 94, .85) 100%), url(assets/popcorn.png);
}


* {
    margin: 0;
    padding: 0;
}

.actor {
  font-size: 8px;
}

.userR {
  font-size: 16px;
  color: #1204d0;
  font-weight: bolder; 
}

.ageR {
	font-size: 20px;
	line-height: 56px;	
	color: #000;
}

.ageR span {
	padding: 8px 16px;
	background: rgba(37,219,237,0.8);
}


.debuts {
    background-image: url('assets/pop1.jpg');
    height: calc(50vh - 30px);
    padding: 20px;
    margin-left: 10px;
    background-color: lightgray;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #e1e1e1;
  }
  
  * {
    box-sizing: border-box;
  }
  

  .butDeb { 
    border-radius: 4px;
    display:grid ;
    padding: 3px 5px;
    width: auto;
    height: 25px;

    border: 1px solid #1204d0;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 5px;

    font-family: inherit;
    font-size: 16px;
    color: #000000;
  }

  .inpDeb { 
    border-radius: 4px;
    display:grid ;
    padding: 2px 2px;
    width: 160px;
    height: 20px;

    border: 1px solid #1204d0;
    background-color: #ffffff;
    cursor: auto;
    margin-top: 5px;

    font-family: inherit;
    font-size: 16px;
    color: #000000;
  }



  

  .Back:hover, .Delete:hover, .buttonwhite:hover, .buttonblack:hover, .butDeb:hover, .vixod:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 255, .2);
  }

  .Back:active, .Delete:active, .buttonwhite:active, .buttonblack:active, .butDeb:active, .vixod:active {
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 255, .2);
  }

  
  
